@import "fonts";
@import "mixins";
@import "vendor";
@import "vars";
@import "global";

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    text-transform: uppercase;
    color: #151515;
}
.color1{
    background-color:aquamarine;
}
.color2{
    background-color: burlywood;
}
.color3{
    background-color:cornflowerblue;
}
.color4{
    background-color:darksalmon;
}
.color5{
    background-color:lavender;
}
@import "media";
